/*
===================
comment
===================
*/
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Open+Sans:wght@400;700&family=Poppins:wght@200;300;400;500&display=swap');



:root 
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}


body 
{
   line-height: 1.5;
   font-size: 18px;
   font-family: 'Poppins' Open-Sans;
   background-color: #0e0e0e;
   margin: 0;
    
}

* {
    margin:0;
    padding:0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after
{
    box-sizing: border-box;
}


ul {
    list-style: none;
}

/* all the content were placed inside this div container */
  .container{
    display: block;
    width: 100%;
    background-color: white;
    
  }

  /*one section title for all*/
  .section-title
  {
    color: var(--Dark-Cyan);
    font-size: 25px;
    font-weight: 700;
   
  }
  
.row 
{
    content: "";
    display: flex;
    max-width: 0 0 100%;
    flex-wrap: wrap;
    position: relative;
    background: var(--Pale-Cyan);
  }

  /*top section starts*/
.top_section
{
    background-image: url(../Images/bg-hero-desktop.svg);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    margin: 20px;
    display: block;
}

.column-1 {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: start;
    color: var(--Dark-Cyan);
    float: left;
    margin: 20px;
     
}

.column-2
{
    flex: 0 0 60%;
    max-width: 60%;
    text-align: start;
    float: left;
    margin: 10px;
}

.column-1 .section-title
{
    margin-top: 150px;
    
}

.section-title h3
{
   font-size: 28px;
   text-align: start;
   margin-bottom: 10px;
}


.section-title p
{
    font-size: 18px;
    text-align: justify;
}

.longBar-1
{
    background: var(--Pink-color);
    padding: 15px;
    color: white;
    text-align: center;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
}


.longBar-2
{
    background-color: white;
    padding: 15px;
    color: var(--Dark-Cyan);
    text-align: center;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    margin-left: 350px;
    margin-bottom: 20px;
   
}

.column-2 .longBar-2
{
    align-content: flex-end;
}
  /*top section ends*/

  
/*this is contents sections */

.together_section
{
    background-color: white;
    min-height: 60vh;
    width: 80%;
    margin: 0 auto;
    display: block;
    border: 2px solid var(--bg-black-100);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 40px;
}


.together-content
{
    flex: 0 0 55%;
    max-width: 55%;
    text-align: start;
    color: var(--Grayish-Blue);
    float: left;
    margin-left: 30px;
    margin-top: 50px;
    
}



.together-content-2
{
    flex: 0 0 55%;
    max-width: 55%;
    color: var(--Grayish-Blue);
    float: right;
    margin-right: 30px;
    margin-top: 50px;

  
   
}

.together-img-2
{
    flex: 0 0 25%;
    max-width: 25%;
    float: left;
    margin-left: 20px;
 
}

.together-img
{
    flex: 0 0 25%;
    max-width: 25%;
    float: left;
    margin-left: 20px;
   
}

.together-content .section-title h3
{
    text-align: start;
}


.together-content .section-title p
{
    text-align: justify;
}

.build_section
{
    background-color: white;
    min-height: 30vh;
    width: 60%;
    margin: 0 auto;
    display: block;
    border: 1px solid var(--bg-black-50);
    border-radius: 5px;
    margin-bottom: -80px; 
    
}


.build-content
{
    flex: 0 0 60%;
    max-width: 60%;
    padding: 10px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    z-index: 10;
       
}


.build-content .section-title h3
{
    font-size: 20px;
    text-align: center;
}

.build-content .longBar-1
{
    align-items: center;
}

 
.row {
    content: "";
    display: flex;
    max-width: 0 0 100%;
    flex-wrap: wrap;
    position: relative;
    background: var(--Pale-Cyan);
  }

  
.footer_section
{
    background: var(--Dark-Cyan);
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: block;
   padding-top: 70px;
    
    
}


.footer-content
{
    flex: 0 0 21.6%;
    max-width: 21.6%;
    text-align: start;
    color: white;
    float: left;
    padding: 20px;
    margin: 10px;
    margin-top: 110px;
     
}


.footer-content-1
{
    flex: 0 0 35%;
    max-width: 35%;
    text-align: start;
    color: white;
    float: left;
    padding: 50px;
    margin: 10px;
}


.footer-content-1 ul
{
    padding-top: 20px;
    
}

.footer-content-1 ul li
{
   padding-bottom: 10px;
   text-align: start;
}


.footer-content-1 ul li i
{
   margin-right: 10px;
}



.footer-content-1 .footer-logo
{
    margin-bottom: 20px;
}

.footer-content ul li a
{
    color: white;
}

.footer-content p
{
    margin-top: 60px;
    font-size: 12px;
}

