/*
===================
comment
===================
*/
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Open+Sans:wght@400;700&family=Poppins:wght@200;300;400;500&display=swap');



:root 
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}


body 
{
   line-height: 1.5;
   font-size: 18px;
   font-family: 'Poppins' Open-Sans;
   background-color: #0e0e0e;
   margin: 0;
    
}

* {
    margin:0;
    padding:0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after
{
    box-sizing: border-box;
}


ul {
    list-style: none;
}
p{
    font-size: 25px;
}
/* all the content were placed inside this div container */
  .container{
    display: block;
    width: 100%;
    background-color: white;
    
  }

  /*one section title for all*/
  
  
.row 
{
    content: "";
    display: flex;
    max-width: 0 0 100%;
    flex-wrap: wrap;
    position: relative;
    background: var(--Pale-Cyan);
  }

  /*top section starts*/
.top_section
{
    background-image: url(../Images/bg-hero-desktop.svg);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    display: block;
    padding-top: 40px;
    padding: 60px;
}

.column-1 {
    flex: 0 0 45%;
    max-width: 45%;
    text-align: start;
    color: var(--Dark-Cyan);
    float: left;
    margin: 20px;
    padding-left: 20px;
     
}

.column-2
{
    flex: 0 0 55%;
    max-width: 55%;
    text-align: start;
    float: left;
    margin: 20px;
    padding-left: 40px;
}

.column-1 .section-title
{
    margin-top: 100px;
    
}

.section-title h3
{
   font-size: 35px;
   text-align: start;
   margin-bottom: 10px;
   color: var(--Dark-Cyan);
}


.section-title p
{
    font-size: 18px;
    text-align: justify;
}
.header-logo
{
    margin-top: 20px;
}
.longBar-1
{
    background: var(--Pink-color);
    padding: 15px;
    color: white;
    text-align: center;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
}


.longBar-2
{
    background-color: white;
    padding: 15px;
    color: var(--Dark-Cyan);
    text-align: center;
   width: 200px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    margin-left: 250px;
    margin-bottom: 40px;
   
}

.column-2 .longBar-2
{
    align-content: flex-end;
}
  /*top section ends*/

  
/*this is contents sections */

.together_section
{
    background-color: white;
    min-height: 60vh;
    width: 80%;
    margin: 0 auto;
    display: block;
    box-shadow: 2px 2px 2px 5px var(--bg-black-50);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 40px;
}


.together-content
{
    flex: 0 0 55%;
    max-width: 55%;
    text-align: start;
    color: var(--Grayish-Blue);
    float: left;
    padding-left: 50px;
    padding-top: 100px;
    font-size: 20px;
    
}



.together-content-2
{
    flex: 0 0 55%;
    max-width: 55%;
    color: var(--Grayish-Blue);
    float: right;
    padding-right: 50px;
    padding-top: 100px;
    font-size: 20px;

  
   
}

.together-img-2
{
    flex: 0 0 25%;
    max-width: 25%;
    float: left;
    margin-left: 20px;
    margin-top: 50px;
 
}

.together-img
{
    flex: 0 0 25%;
    max-width: 25%;
    float: left;
    margin-left: 20px;
    margin-top: 50px;
   
}

.together-content .section-title h3
{
    text-align: start;
}


.together-content .section-title p
{
    text-align: justify;
}

.build_section
{
    background-color: white;
    min-height: 30vh;
    width: 60%;
    margin: 0 auto;
    display: block;
    border: 1px solid var(--bg-black-50);
    border-radius: 5px;
    margin-bottom: -80px; 
    
}


.build-content
{
    flex: 0 0 60%;
    max-width: 60%;
    padding: 10px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    z-index: 10;
       
}


.build-content .section-title h3
{
    font-size: 30px;
    text-align: center;
}

.build-content .longBar-1
{
    align-items: center;
}

 
.row {
    content: "";
    display: flex;
    max-width: 0 0 100%;
    flex-wrap: wrap;
    position: relative;
    background: var(--Pale-Cyan);
  }

  
.footer_section
{
    background: var(--Dark-Cyan);
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-top: 70px;
    padding: 60px;
    
    
}


.footer-content
{
    flex: 0 0 20%;
    max-width: 20%;
    text-align: start;
    color: white;
    float: left;
    padding: 50px;
    margin-top: 50px;
    font-size: 25px;
  
     
}

.footer-content ul
{
    padding-top: 100px;
    
}


.footer-content-1
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: start;
    color: white;
    float: left;
    padding: 50px;
    margin: 50px;
    font-size: 25px;

}


.footer-content-1 ul
{
    padding-top: 60px;
    
}

.footer-content-1 ul li
{
   padding-bottom: 10px;
   text-align: start;
}


.footer-content-1 ul li i
{
   margin-right: 10px;
}



.footer-content-1 .footer-logo
{
    margin-bottom: 20px;
}

.footer-content ul li a
{
    color: white;
}

.footer-content p
{
    margin-top: 60px;
    font-size: 15px;
}

@media screen and (max-width:1440px)
{
    .top_section
{
    width: 100%;
    min-height: 80vh;
}

}

@media screen and (max-width:1024px)
{ 

.column-1 {
    flex: 0 0 35%;
    max-width: 35%;
    text-align: start;
    color: var(--Dark-Cyan);
    float: left;
    margin: 20px;
    padding-left: 20px;
     
}

.column-2
{
    flex: 0 0 45%;
    max-width: 45%;
    text-align: start;
    float: left;
    margin: 20px;
    padding-left: 40px;
}

.column-2 .community-img img 
{

    width: 450px; 
    height:auto
}


}

@media screen and (max-width:375px)
{
    p 
    {
        font-size: 15px;
    }
    .top_section
    {
        background-image: url(../Images/bg-hero-mobile.svg);
        background-size: cover;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        min-height: 80vh;
        padding: 50px;
    }
    
    .column-1
    
    {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: auto;
        float: left;
         
    }

    .column-2
{
    display: none;
}


.together_section
{
    background-color: white;
    min-height: 60vh;
    width: 100%;
    padding: 50px;
}


.together-content
{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: start;
   
    font-size: 20px;
    
}



.together-content-2
{
    flex: 0 0 100%;
    max-width: 100%;
  
   
    padding-top: 100px;
    font-size: 20px;

  
   
}

.together-img-2
{
    flex: 0 0 100%;
    max-width: 100%;
    float: left;
    margin-left: 20px;
    margin-top: 50px;
 
}

.together-img
{
    flex: 0 0 100%;
    max-width: 100%;
    float: left;
    margin-left: 20px;
    margin-top: 50px;
   
}

.footer_section
{
    min-height: 150vh;
}

.footer-content
{
    flex: 0 0 15%;
    max-width: 15%;
    text-align: start;
    color: white;
    float: left;
    padding: 20px;
    margin-top: 50px;
    font-size: 16px;
  
     
}



.footer-content-1
{
    flex: 0 0 30%;
    max-width: 30%;
    text-align: start;
    color: white;
    float: left;
    padding: 20px;
    margin: 20px;
    font-size: 16px;

}


.footer-content-1 ul li i
{
   margin-right: 10px;
}


}
 